.nav-wrapper
    padding 0 25px

    .brand-logo
        position: relative
        padding-left: 40px;

        &:before {
            content: ''
            position: absolute
            width: 30px;
            height: 64px;
            background: transparent url(https://hiby.xyz/assets/images/Autumn-96.png) center / 40px 40px no-repeat
            left: 0
        }

    @media (max-width: 767px)
        padding 0 10px
